<?xml version="1.0" encoding="UTF-8"?>
<?include PlatformDependentVariables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="Acme Corporation"
           Name="$(var.PlatformProductName)"
           UpgradeCode="$(var.PlatformUpgradeCode)"
           Version="1.0.0.0">

    <Package InstallScope="perMachine" Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="02_x86_x64_Installer" />
      </Directory>
    </Directory>

    <ComponentGroup Directory="INSTALLFOLDER" Id="ProductComponentGroup">
      <Component Id="cmp_FileToInstall.txt" Guid="*">
        <File KeyPath="yes" Source="FileToInstall.txt" />
      </Component>
      <Component Id="cmp_my.dll" Guid="*">
        <?if $(var.Platform) = x64?>
          <File KeyPath="yes" Source="my_x64.dll" />
        <?else?>
          <File KeyPath="yes" Source="my_x86.dll" />
        <?endif?>
      </Component>
      <Component Id="cmp_RegistryEntry" Guid="*">
        <RegistryKey Root='HKLM' Key='Software\[Manufacturer]\[ProductName]'>
          <RegistryValue KeyPath='yes' Type='string' Name='Install location' Value='[INSTALLFOLDER]' />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <Feature Id="HelloWorldFeature">
      <ComponentGroupRef Id="ProductComponentGroup" />
    </Feature>

  </Product>
</Wix>
